/*
 * layout.css
 * header/footer 모든 페이지의 공통 스타일 적용
*/
.skipnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.skipnav a {
    position: absolute; /* skipnav를 기준으로 정렬 */
    left: 0;
    top: -100px;
    width: 100%;
    display: block;
    background-color: #0063AF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.skipnav a.menu {
    background-color: #00AF00;
}
.skipnav a:focus {
    top: 0;
}


header {
    display: flex;
    position: relative;
    z-index: 100;/*header는 맨위*/
    height: var(--header-h);
    color: var(--main-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 2.6316em;
}
header .logo a {
    display: block;
    color: transparent;
    align-items: center;
    width: 9.4737em;/*em으로변환*/
    height: 2.5789em;
    position: relative;
}
header .logo a::before {
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    width: 100%;
    height: 100%;
    background: url(..//images/logo_simpol.svg) no-repeat center center / contain;
}

/******메뉴열렸을때 추가 ******/


header .gnb .gnb_open,
header .gnb .gnb_close{
    display: none;
}
    
header .gnb .gnb_wrap ul.depth1 {
    display: flex;
}
header .gnb .gnb_wrap ul.depth1 > li {
    width: 6.3158em;
    text-align: center;
    position: relative;
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    display: block;
    line-height: var(--header-h);
}
header .gnb .gnb_wrap ul.depth1 > li > a span {
    font-weight: 500;
}
header .gnb .gnb_wrap ul.depth2 > li > a {
    /* display: block; */
    display: none;
}



header .tnb {
    display: flex;
    color: transparent;
    align-items: center;
    gap: 1.6316em;
}
header .tnb .cart a {
    display: block;
    width: 1.1579em;
    height: 1.1579em;
    position: relative;
}
header .tnb .cart a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.32796 18C5.74343 18 5.25153 17.7958 4.85225 17.3874C4.45298 16.9787 4.25334 16.4875 4.25334 15.9135V6.24781L2.28084 1.66254H0.846323C0.606532 1.66254 0.405577 1.58283 0.243459 1.42341C0.0811529 1.26399 0 1.06652 0 0.830991C0 0.59528 0.0811529 0.3979 0.243459 0.238851C0.405577 0.0796169 0.606532 0 0.846323 0H2.7387C2.94332 0 3.13083 0.0577269 3.30122 0.173181C3.47162 0.288635 3.59951 0.43697 3.68489 0.618186L5.22125 4.19901H20.9496C21.3399 4.19901 21.6367 4.35852 21.8402 4.67754C22.0437 4.99657 22.0528 5.32307 21.8676 5.65705L18.9012 11.367C19.7445 11.4721 20.4508 11.8373 21.0201 12.4626C21.5894 13.0879 21.8741 13.8255 21.8741 14.6752C21.8741 15.5935 21.548 16.3772 20.8957 17.0263C20.2437 17.6754 19.4506 18 18.5164 18C17.5665 18 16.7649 17.6754 16.1117 17.0263C15.4586 16.3772 15.132 15.5935 15.132 14.6752C15.132 14.3109 15.1862 13.974 15.2948 13.6644C15.4031 13.3548 15.5564 13.0664 15.7546 12.7993L11.2668 12.4031L8.16363 16.9642C7.95544 17.2768 7.68866 17.5276 7.36329 17.7165C7.03793 17.9055 6.69282 18 6.32796 18ZM17.061 11.2648L19.8539 5.86155H5.92426L7.35652 9.18662C7.51093 9.55607 7.75712 9.86549 8.09508 10.1149C8.43305 10.3642 8.84003 10.5109 9.31604 10.5549L17.061 11.2648ZM6.34517 16.31C6.44071 16.31 6.57603 16.2212 6.75112 16.0435L9.36823 12.2346C8.52624 12.1422 7.85275 11.9341 7.34778 11.61C6.84299 11.286 6.46252 10.9038 6.20637 10.4634L5.94598 9.8666V15.9304C5.94598 16.0455 5.9836 16.1375 6.05883 16.2064C6.13406 16.2755 6.2295 16.31 6.34517 16.31ZM18.4888 16.3483C18.9778 16.3483 19.3821 16.1866 19.7018 15.8634C20.0216 15.5401 20.1814 15.1475 20.1814 14.6857C20.1814 14.2054 20.0216 13.8083 19.7018 13.4942C19.3821 13.1802 18.9778 13.0232 18.4888 13.0232C18.0186 13.0232 17.6189 13.1802 17.2898 13.4942C16.9607 13.8083 16.7961 14.2054 16.7961 14.6857C16.7961 15.1475 16.9607 15.5401 17.2898 15.8634C17.6189 16.1866 18.0186 16.3483 18.4888 16.3483Z' fill='%23174446'/%3E%3C/svg%3E%0A");
    background-size: contain;
}
header .tnb .mypage a {
    display: block;
    width: 1.1579em;
    height: 1.1579em;
    position: relative;
}
header .tnb .mypage a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.28884 8.86046C1.87366 8.86046 1.52956 8.72395 1.25657 8.45094C0.983383 8.17774 0.846792 7.83237 0.846792 7.41482C0.846792 6.99709 0.982558 6.65079 1.25409 6.37593C1.52544 6.10126 1.8687 5.96392 2.28389 5.96392C2.69907 5.96392 3.04317 6.10052 3.31617 6.37372C3.58935 6.64673 3.72594 6.9921 3.72594 7.40984C3.72594 7.82757 3.59017 8.17378 3.31864 8.44845C3.0473 8.72312 2.70403 8.86046 2.28884 8.86046ZM3.5988 18.3387H13.0192V12.1831H10.8176C9.66321 12.1831 8.68661 11.7831 7.8878 10.9831C7.08898 10.1829 6.68957 9.21977 6.68957 8.09375C6.68957 7.20069 6.94569 6.39947 7.45793 5.69008C7.97036 4.98087 8.62873 4.44878 9.43305 4.09381C9.55726 2.90817 10.047 1.92946 10.9023 1.15767C11.7575 0.385892 12.7383 0 13.8448 0C14.9513 0 15.9321 0.385892 16.7872 1.15767C17.6426 1.92946 18.1322 2.90817 18.2563 4.09381C19.0608 4.44878 19.7191 4.98087 20.2314 5.69008C20.7438 6.39947 21 7.20069 21 8.09375C21 9.21977 20.6006 10.1829 19.8018 10.9831C19.003 11.7831 18.0264 12.1831 16.872 12.1831H14.6704V18.3387H19.3488C19.5827 18.3387 19.7788 18.4183 19.9369 18.5776C20.0952 18.7369 20.1744 18.9343 20.1744 19.1696C20.1744 19.4051 20.0952 19.6024 19.9369 19.7613C19.7788 19.9204 19.5827 20 19.3488 20H1.96878C1.68698 20 1.45067 19.9045 1.25987 19.7134C1.06925 19.5224 0.973935 19.2856 0.973935 19.0032V15.016C0.772121 14.891 0.559391 14.7614 0.335745 14.6272C0.111915 14.493 0 14.2961 0 14.0364V10.7987C0 10.5633 0.0791659 10.3661 0.237498 10.207C0.395647 10.0477 0.591681 9.96802 0.825602 9.96802H3.74685C3.98078 9.96802 4.1769 10.0477 4.33523 10.207C4.49338 10.3661 4.57246 10.5633 4.57246 10.7987V14.0364C4.57246 14.2961 4.46063 14.493 4.23699 14.6272C4.01334 14.7614 3.80061 14.891 3.5988 15.016V18.3387ZM10.8176 10.5218H16.872C17.562 10.5218 18.1474 10.288 18.628 9.82044C19.1085 9.35286 19.3488 8.7773 19.3488 8.09375C19.3488 7.5457 19.1893 7.05616 18.8702 6.62513C18.5514 6.19429 18.1379 5.87024 17.6299 5.65297L16.7069 5.2609L16.6053 4.29815C16.5374 3.55849 16.2424 2.93411 15.7203 2.425C15.1981 1.91589 14.573 1.66134 13.8448 1.66134C13.1166 1.66134 12.4914 1.91589 11.969 2.425C11.4469 2.93411 11.152 3.55849 11.0843 4.29815L10.9827 5.2609L10.0597 5.65297C9.55166 5.87024 9.13813 6.19429 8.81908 6.62513C8.50021 7.05616 8.34078 7.5457 8.34078 8.09375C8.34078 8.7773 8.58103 9.35286 9.06153 9.82044C9.54203 10.288 10.1274 10.5218 10.8176 10.5218Z' fill='%23174446'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .tnb .global button {
    display: block;
    width: 1.1579em;
    height: 1.1579em;
    position: relative;
}
header .tnb .global button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 19.3485C9.8921 19.3485 9.37171 19.131 8.93882 18.6961C8.50592 18.261 8.28947 17.7395 8.28947 17.1316C8.28947 16.5237 8.50592 16.0033 8.93882 15.5704C9.37171 15.1375 9.8921 14.9211 10.5 14.9211L11.1632 14.2855C11.3105 14.1382 11.4809 14.023 11.6743 13.9401C11.8678 13.8572 12.0658 13.8158 12.2684 13.8158C12.6921 13.8158 13.0559 13.9724 13.3599 14.2855C13.6638 14.5987 13.8158 14.9671 13.8158 15.3908V15.8605C13.8158 16.2289 13.9355 16.5329 14.175 16.7724C14.4145 17.0118 14.7184 17.1316 15.0868 17.1316C15.3632 17.1316 15.6118 17.0487 15.8329 16.8829C16.0539 16.7171 16.2105 16.5053 16.3026 16.2474L16.6342 15.3355C16.8 14.8934 17.0636 14.5296 17.425 14.2441C17.7863 13.9586 18.2064 13.8158 18.6853 13.8158C18.8879 13.3 19.0491 12.7658 19.1689 12.2132C19.2886 11.6605 19.3485 11.0895 19.3485 10.5C19.3485 8.86053 18.9422 7.36732 18.1296 6.02037C17.3169 4.67361 16.2474 3.61338 14.9211 2.8397V3.86842C14.9211 4.47632 14.7046 4.99671 14.2717 5.4296C13.8388 5.8625 13.3184 6.07895 12.7105 6.07895H11.6053V8.28947C11.6053 8.60263 11.4993 8.86513 11.2875 9.07697C11.0757 9.28882 10.8132 9.39474 10.5 9.39474H9.39474V11.2737C9.39474 11.6789 9.25658 12.0197 8.98026 12.2961C8.70395 12.5724 8.36316 12.7105 7.95789 12.7105C7.7 12.7105 7.46513 12.6553 7.25329 12.5447C7.04145 12.4342 6.87105 12.2776 6.7421 12.075L4.97368 9.39474H3.86842V10.5C3.86842 11.0711 3.67832 11.5592 3.29811 11.9645C2.91789 12.3697 2.46114 12.6092 1.92786 12.6829C2.4068 14.5987 3.43939 16.1886 5.02563 17.4527C6.61205 18.7165 8.43684 19.3485 10.5 19.3485ZM12.7105 12.7105C12.3974 12.7105 12.1349 12.6046 11.923 12.3928C11.7112 12.1809 11.6053 11.9184 11.6053 11.6053C11.6053 11.2921 11.7112 11.0296 11.923 10.8178C12.1349 10.6059 12.3974 10.5 12.7105 10.5H13.8158C14.1289 10.5 14.3914 10.6059 14.6033 10.8178C14.8151 11.0296 14.9211 11.2921 14.9211 11.6053C14.9211 11.9184 14.8151 12.1809 14.6033 12.3928C14.3914 12.6046 14.1289 12.7105 13.8158 12.7105H12.7105ZM15.2803 9.39474C14.9118 9.39474 14.6217 9.25197 14.4099 8.96645C14.198 8.68092 14.1474 8.36316 14.2579 8.01316L14.6724 6.79737C14.7461 6.57632 14.875 6.40132 15.0592 6.27237C15.2434 6.14342 15.4461 6.07895 15.6671 6.07895C16.0355 6.07895 16.3257 6.22171 16.5375 6.50724C16.7493 6.79276 16.8 7.11053 16.6895 7.46053L16.275 8.67632C16.2013 8.89737 16.0724 9.07237 15.8882 9.20132C15.7039 9.33026 15.5013 9.39474 15.2803 9.39474ZM10.5019 21C9.04962 21 7.68453 20.7244 6.40666 20.1733C5.12879 19.6221 4.01726 18.8741 3.07208 17.9293C2.12689 16.9845 1.37854 15.8734 0.827013 14.5961C0.275671 13.3188 0 11.9541 0 10.5019C0 9.04962 0.275579 7.68453 0.826737 6.40666C1.37789 5.12879 2.12588 4.01726 3.0707 3.07208C4.01551 2.12689 5.12658 1.37854 6.40389 0.827013C7.68121 0.275671 9.04593 0 10.4981 0C11.9504 0 13.3155 0.275578 14.5933 0.826736C15.8712 1.37789 16.9827 2.12588 17.9279 3.0707C18.8731 4.01551 19.6215 5.12658 20.173 6.40389C20.7243 7.68121 21 9.04593 21 10.4981C21 11.9504 20.7244 13.3155 20.1733 14.5933C19.6221 15.8712 18.8741 16.9827 17.9293 17.9279C16.9845 18.8731 15.8734 19.6215 14.5961 20.173C13.3188 20.7243 11.9541 21 10.5019 21Z' fill='%23174446'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .tnb .global a {/*일단 닫아두기*/
    display: none;
}

@media screen and (min-width:1024px){
    header {
        padding: 0 1.1053em;
    }
    header .logo a {
        width: 7.3684em;
        height: 1.9474em;
    }
  


}/*media*/

@media screen and (max-width:768px){/**/
    header {
        padding: 2em 1.6316em;
    }
    header .logo a {
        display: block;
        color: transparent;
        align-items: center;
        width: 9.4737em;/*em으로변환*/
        height: 2.5789em;
        position: relative;
    }
    header .logo a::before {
        content: "";
        position: absolute;
        left: 0;
        top: -4px;
        width: 100%;
        height: 100%;
        background: url(..//images/logo_simpol.svg) no-repeat center center / contain;
    }



    header .gnb .gnb_open,
    header .gnb .gnb_close{
        display: block;
    }
    
    header .gnb .gnb_open {
        position: relative;
        width: 100%;
        height: 100%;
        color: transparent;
    }
    header .gnb .gnb_open::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='43' height='30' viewBox='0 0 43 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.65417 29.3673C1.90944 29.3673 1.28081 29.1111 0.76825 28.5985C0.256083 28.0863 0 27.4579 0 26.7132C0 25.9684 0.256083 25.3398 0.76825 24.8272C1.28081 24.3151 1.90944 24.059 2.65417 24.059H40.2943C41.0391 24.059 41.6677 24.3151 42.1802 24.8272C42.6924 25.3398 42.9485 25.9684 42.9485 26.7132C42.9485 27.4579 42.6924 28.0863 42.1802 28.5985C41.6677 29.1111 41.0391 29.3673 40.2943 29.3673H2.65417ZM2.65417 17.3378C1.90944 17.3378 1.28081 17.0817 0.76825 16.5696C0.256083 16.057 0 15.4284 0 14.6837C0 13.9389 0.256083 13.3103 0.76825 12.7977C1.28081 12.2856 1.90944 12.0295 2.65417 12.0295H40.2943C41.0391 12.0295 41.6677 12.2856 42.1802 12.7977C42.6924 13.3103 42.9485 13.9389 42.9485 14.6837C42.9485 15.4284 42.6924 16.057 42.1802 16.5696C41.6677 17.0817 41.0391 17.3378 40.2943 17.3378H2.65417ZM2.65417 5.30833C1.90944 5.30833 1.28081 5.05225 0.76825 4.54008C0.256083 4.02753 0 3.39889 0 2.65417C0 1.90944 0.256083 1.281 0.76825 0.768833C1.28081 0.256277 1.90944 0 2.65417 0H40.2943C41.0391 0 41.6677 0.256277 42.1802 0.768833C42.6924 1.281 42.9485 1.90944 42.9485 2.65417C42.9485 3.39889 42.6924 4.02753 42.1802 4.54008C41.6677 5.05225 41.0391 5.30833 40.2943 5.30833H2.65417Z' fill='%234A7071'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    header .gnb .gnb_close {
      display: none; /* 숨김 */
    }
    header .gnb .gnb_close::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 32.0266L17.8391 42.187C17.2975 42.729 16.6264 43 15.8261 43C15.0257 43 14.3547 42.729 13.813 42.187C13.271 41.6453 13 40.9743 13 40.1739C13 39.3736 13.271 38.7025 13.813 38.1609L23.9734 28L13.813 17.8391C13.271 17.2975 13 16.6264 13 15.8261C13 15.0257 13.271 14.3547 13.813 13.813C14.3547 13.271 15.0257 13 15.8261 13C16.6264 13 17.2975 13.271 17.8391 13.813L28 23.9734L38.1609 13.813C38.7025 13.271 39.3736 13 40.1739 13C40.9743 13 41.6453 13.271 42.187 13.813C42.729 14.3547 43 15.0257 43 15.8261C43 16.6264 42.729 17.2975 42.187 17.8391L32.0266 28L42.187 38.1609C42.729 38.7025 43 39.3736 43 40.1739C43 40.9743 42.729 41.6453 42.187 42.187C41.6453 42.729 40.9743 43 40.1739 43C39.3736 43 38.7025 42.729 38.1609 42.187L28 32.0266Z' fill='%234A7071'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    header .tnb {
        display: none;
    }
}/*media*/


@media screen and (max-width:360px){
    header {
        padding: 0 1em;
    }
    header .logo a {
        width: 6.0588em;
        height: 1.6471em;
    }
    
    header .gnb .gnb_open {
        position: relative;
        width: 1.6471em;
        height: 1.7059em;
        color: transparent;
    }
    header .gnb .gnb_open::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='43' height='30' viewBox='0 0 43 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.65417 29.3673C1.90944 29.3673 1.28081 29.1111 0.76825 28.5985C0.256083 28.0863 0 27.4579 0 26.7132C0 25.9684 0.256083 25.3398 0.76825 24.8272C1.28081 24.3151 1.90944 24.059 2.65417 24.059H40.2943C41.0391 24.059 41.6677 24.3151 42.1802 24.8272C42.6924 25.3398 42.9485 25.9684 42.9485 26.7132C42.9485 27.4579 42.6924 28.0863 42.1802 28.5985C41.6677 29.1111 41.0391 29.3673 40.2943 29.3673H2.65417ZM2.65417 17.3378C1.90944 17.3378 1.28081 17.0817 0.76825 16.5696C0.256083 16.057 0 15.4284 0 14.6837C0 13.9389 0.256083 13.3103 0.76825 12.7977C1.28081 12.2856 1.90944 12.0295 2.65417 12.0295H40.2943C41.0391 12.0295 41.6677 12.2856 42.1802 12.7977C42.6924 13.3103 42.9485 13.9389 42.9485 14.6837C42.9485 15.4284 42.6924 16.057 42.1802 16.5696C41.6677 17.0817 41.0391 17.3378 40.2943 17.3378H2.65417ZM2.65417 5.30833C1.90944 5.30833 1.28081 5.05225 0.76825 4.54008C0.256083 4.02753 0 3.39889 0 2.65417C0 1.90944 0.256083 1.281 0.76825 0.768833C1.28081 0.256277 1.90944 0 2.65417 0H40.2943C41.0391 0 41.6677 0.256277 42.1802 0.768833C42.6924 1.281 42.9485 1.90944 42.9485 2.65417C42.9485 3.39889 42.6924 4.02753 42.1802 4.54008C41.6677 5.05225 41.0391 5.30833 40.2943 5.30833H2.65417Z' fill='%234A7071'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    header .gnb .gnb_close {
      display: none; /* 숨김 */
    }
    header .gnb .gnb_close::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 32.0266L17.8391 42.187C17.2975 42.729 16.6264 43 15.8261 43C15.0257 43 14.3547 42.729 13.813 42.187C13.271 41.6453 13 40.9743 13 40.1739C13 39.3736 13.271 38.7025 13.813 38.1609L23.9734 28L13.813 17.8391C13.271 17.2975 13 16.6264 13 15.8261C13 15.0257 13.271 14.3547 13.813 13.813C14.3547 13.271 15.0257 13 15.8261 13C16.6264 13 17.2975 13.271 17.8391 13.813L28 23.9734L38.1609 13.813C38.7025 13.271 39.3736 13 40.1739 13C40.9743 13 41.6453 13.271 42.187 13.813C42.729 14.3547 43 15.0257 43 15.8261C43 16.6264 42.729 17.2975 42.187 17.8391L32.0266 28L42.187 38.1609C42.729 38.7025 43 39.3736 43 40.1739C43 40.9743 42.729 41.6453 42.187 42.187C41.6453 42.729 40.9743 43 40.1739 43C39.3736 43 38.7025 42.729 38.1609 42.187L28 32.0266Z' fill='%234A7071'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    header .tnb {
        display: none;
    }
}/*media*/

footer {
    background-color: var(--main-color);
    position: relative;
    padding: 0 0 149px 0;
}

footer .f_photo  {
    position: absolute;
    top: -360px;
    z-index: -1;
}
footer .p1 {
    width: 100%;
    max-width: 317px;
    left: -23px;
}
footer .p2 { 
    width: 100%;
    max-width: 317px;
    right:0px;
}

footer .f_logo {
    position: relative;
    color: transparent;
    padding: 80px 0 0 0 ;  
    margin-bottom: 41px;
    
}
footer .f_logo img { 
    max-width: 278px;
    width: 100%;
}

footer .f_wrap {
    display: flex;
    justify-content: space-between;
    color: #fff;
}
footer .f_wrap .f_conts01 .f_nav ul {
    font-size: 22px;
    font-weight: 500;
    display: flex;
    gap: 15px;/*or margin right for li a*/
}
footer .f_wrap .f_conts01 .f_nav ul li.privacy {
    color: #62BEC1;
}
footer .f_wrap .f_conts01 .f_nav ul li a {
    display: block;
}
footer .f_wrap .f_info {
    line-height: 1.7;
    margin: 65px 0 98px 0;
}
footer .f_wrap .copyright {
    color: rgba(255, 255, 255, 0.5 );
}
footer .f_wrap .f_conts02 h2 {
    display: none;
}
footer .f_wrap .f_conts02 h3 {
    font-size: 22px;
    font-weight: 500;
}
footer .f_wrap .f_conts02 p.number {
    font-weight: 500;
    font-size: 48px;   
}
footer .f_wrap .f_conts02 .company {
    line-height: 1.15;
    padding: 0 0 150px 0
}
footer .f_wrap .f_conts02 a {
    margin: 22px 0 0 0;
    display: inline-block;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
}
footer .f_wrap .f_conts02 a::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 12px;
    right: -21px;
    bottom: 6px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.048 4.80716H1.16274C0.836488 4.80716 0.561094 4.9224 0.336554 5.15289C0.112185 5.38355 0 5.66645 0 6.00159C0 6.33673 0.112185 6.61963 0.336554 6.85029C0.561094 7.08078 0.836488 7.19602 1.16274 7.19602H12.048L9.34737 9.99624C9.13152 10.2182 9.02035 10.4934 9.01388 10.8218C9.00741 11.1503 9.11857 11.4322 9.34737 11.6674C9.56339 11.8891 9.83452 12 10.1608 12C10.487 12 10.7581 11.8891 10.9739 11.6674L15.6701 6.84347C15.7844 6.72586 15.868 6.5953 15.9208 6.4518C15.9736 6.30847 16 6.1584 16 6.00159C16 5.84478 15.9736 5.69471 15.9208 5.55138C15.868 5.40787 15.7844 5.27732 15.6701 5.15971L10.9739 0.335783C10.7581 0.114047 10.4913 0.0021286 10.1735 2.85019e-05C9.85582 -0.0020716 9.58043 0.107745 9.34737 0.329481C9.11448 0.568892 8.99701 0.852843 8.99497 1.18133C8.99292 1.50982 9.10835 1.79378 9.34123 2.03319L12.048 4.80716Z' fill='white' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
}
footer .f_wrap .f_conts02 a:hover p {
    color: #fff;
}
footer .f_wrap .f_conts02 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.048 4.80716H1.16274C0.836488 4.80716 0.561094 4.9224 0.336554 5.15289C0.112185 5.38355 0 5.66645 0 6.00159C0 6.33673 0.112185 6.61963 0.336554 6.85029C0.561094 7.08078 0.836488 7.19602 1.16274 7.19602H12.048L9.34737 9.99624C9.13152 10.2182 9.02035 10.4934 9.01388 10.8218C9.00741 11.1503 9.11857 11.4322 9.34737 11.6674C9.56339 11.8891 9.83453 12 10.1608 12C10.487 12 10.7581 11.8891 10.9739 11.6674L15.6701 6.84347C15.7844 6.72586 15.868 6.59531 15.9208 6.4518C15.9736 6.30847 16 6.1584 16 6.00159C16 5.84478 15.9736 5.69471 15.9208 5.55138C15.868 5.40787 15.7844 5.27732 15.6701 5.15971L10.9739 0.335784C10.7581 0.114048 10.4913 0.00212943 10.1735 2.93255e-05C9.85582 -0.00207077 9.58043 0.107746 9.34737 0.329482C9.11448 0.568893 8.99701 0.852844 8.99497 1.18133C8.99293 1.50982 9.10835 1.79378 9.34124 2.03319L12.048 4.80716Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .f_wrap .f_conts02  p,
footer .f_wrap .f_conts02 span {
    color: rgba(255, 255, 255, 0.8 );
}

@media screen and (max-width:1600px){
    footer .wrapper {
        margin: 0 7% 0 7%;
    }
    footer .f_photo  {
        top: -340px;
    }
   
}/*@mieda*/

@media screen and (max-width:1204px){
    footer .wrapper {
        margin: 0 7% 0 7%;
    }
    footer .f_wrap {
        display: block;
    }
    footer .f_photo  {
        top: -360px;
    }
    footer .p1 {
        width: 80%;
        left: -23px;
    }
    footer .p2 { 
        width: 80%;
        right:0px;
    }
    footer .f_logo img {
        width: 70%;
    }
    footer .f_wrap .f_conts02 .company {
        line-height: 1.15;
        padding: 100px 0 100px 0;
    }

}/*@mieda*/


@media screen and (max-width:768px){
    footer .wrapper {
        margin: 0 7% 0 7%;
    }
    footer .f_photo  {
        top: -360px;
    }
    footer .p1 {
        display: none;
    }
    footer .p2 { 
        display: none;
    }

    footer .f_logo img {
        width: 60%;
    }
    


    footer .f_wrap .f_conts01 .f_nav ul {
        font-size: 19px;
        gap: 12px;/*or margin right for li a*/
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    footer .f_wrap .f_info {
        margin: 65px 0 98px 0;
    }
    
   

    footer .f_wrap .f_conts02 h3 {
        font-size: 19px; 
    }
    footer .f_wrap .f_conts02 .company {
        padding: 95px 0 130px 0
    }
    footer .f_wrap .f_conts02 a {
        margin: 22px 0 0 0;
        display: inline-block;
        position: relative;
        color: rgba(255, 255, 255, 0.8);
    }



}/*@mieda*/
@media screen and (max-width:360px){/**/
    footer .wrapper {
        margin: 0 7% 0 7%;
    }
  
    footer .f_logo img {
        width: 40%;
    }

    footer .f_wrap {
        font-size: 13px;
    }

    footer .f_wrap .f_conts01 .f_nav ul {
        font-size: 15px;
        gap: 7px;/*or margin right for li a*/
    }

    footer .f_wrap .f_info {
        line-height: 1.7;
        margin: 43px 0 50px 0;
    }

    footer .f_wrap .copyright {
        color: rgba(255, 255, 255, 0.5 );
    }
    footer .f_wrap .f_conts02 h2 {
        display: none;
    }
    footer .f_wrap .f_conts02 h3 {
        font-size: 15px;
        font-weight: 500;
        
    }
    footer .f_wrap .f_conts02 p.number {
        font-size: 22px;   
    }
  
    footer .f_wrap .f_conts02 .company {
        line-height: 1.15;
        padding: 40px 0 100px 0
    }
    footer .f_wrap .f_conts02 a {
        margin: 22px 0 0 0;
        display: inline-block;
        position: relative;
        color: rgba(255, 255, 255, 0.8);
    }
    footer .f_wrap .f_conts02 a::after {
        bottom: 2px;
    }


}/*@mieda*/